# macOS
.DS_Store

#Temp
slprj/
*.m~
*.stl~

# Simulink 
*.autosave
*.original

# Cached
*.slxc

# Personal
models/HSCC_2020_part_1/
models/useful Simulink code/
src/core/Examples/
src/core/MATLAB
references/
Reviews.pdf
NIPS_submission/
models/Switching_tf_hespanha/backup
models/Switching_tf_hespanha/okay_results

#File types
*.png
*.zip
#*.jpg
!/models/MatlabQuadSimAP-master/simulation_fixed.png

# Windows
*.asv

# MEX Binaries
*.mex*

# mat
*.mat
