# macOS
.DS_Store

#Temp
slprj/
*.m~
*.stl~

# Simulink 
*.autosave
*.original

# Cached
*.slxc

# Personal
models/HSCC_2020_part_1/
models/useful Simulink code/
references/
Reviews.pdf
*.png
*.zip
#*.jpg
!/models/MatlabQuadSimAP-master/simulation_fixed.png

# Windows
*.asv

# MEX Binaries
*.mex*

# mat
*.mat
